<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Fox App - Create New Account</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</head>
<body>
<h1>CREATE NEW ACCOUNT:</h1>
<form action="#" th:action="@{/create}" method="post" th:object="${user}">
    <div>
        <label for="new_userName">Provide a username:</label>
        <input id="new_userName" type="text" th:field="*{name}" />
    </div>
    <div>
        <label for="new_password">Provide a password:</label>
        <input id="new_password" type="password" th:field="*{password}"/>
    </div>
    <div th:if="*{isExist}">
        <p style="font-size: 15px; font-style: italic; color: red">This username already exists, please try a new one</p>
    </div>
    <div th:unless="*{isExist}">
        <p style="font-size: 15px; font-style: italic; color: red">baj van</p>
    </div>
    <div>
        <input class="btn btn-success" type="submit" value="Submit"/>
    </div>
</form>
</body>
</html>